<div class="tag-cloud">
    <h3><i class="fa fa-tag"></i>Popular tags</h3>
    <div class="tags">
    {% for tag in tags %}
        <span style="font-size: {{ tag['weight'] }}em">{{ tag['name'] }}</span>
    {% endfor %}
    </div>
</div>
